*{
    margin: 0px;
    padding: 0px;
}


body
{
    display:flex;
    padding-top: 2vh;
    background-color: rgba(128, 128, 128, 0.158);
}   


.sidebar
{
    padding-inline: 2vw;
    padding-block: 2vh;
    display: flex;
    flex-direction: column;
    gap:3vh;
    width: 100%;
}

.sidebox{
    display: none;
}

.colab-line
{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    
}

.colab
{
    display: flex;
    align-items: center;
}

.colab>img{
    width: 3vw;
}


.search
{
    width: 100%;
    height: 5%;
}

.access
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.access-button  
{
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5vw;
    padding-block: 3%;

    background-color: transparent;
    border: none;
}

.access-button-name
{
    display: flex;
    gap: 0.5vw;
}

.beta
{
    padding-inline: 0.5vw;
    padding-block: 0.25vh;
    background-color: white;
}

.access-button-number
{
    background-color: rgb(231, 28, 21);
    padding-inline: 0.5vw;
    padding-block: 0.25vh;
    border-radius: 5px;
    color: white;
}



.group
{
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.my-group
{
    display: flex;
    justify-content: space-between;
}

.group-button{
    padding-inline: 1vw;
    padding-block: 1vh;

    display: flex;
    align-items: self-start;
    border: none    ;
}

button:hover
{
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: -6px 3px 5px black;
}

button:active
{
    background-color: white;
}

.side-bottom
{
    display: flex;
    flex-direction: column;
}

ul
{
    list-style: none;

}

li
{
    display: flex;
    gap: 0.5vw;
}





/* the table side style */


.partners
{
    background-color: whitesmoke;
    width: 70%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;

}

.all-partners-group
{
    display: flex;
    justify-content: space-between; 
    gap: 1vw;
}

.gg 
{
    display: flex;
    gap: 13vw;
    flex-wrap: wrap;
}

.da
{
    display: flex;
    position: relative;
}
/* .round-image>*
{
    border: 2px black solid;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
} */


.round-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  border: 2px solid #ca0707;
}

.round-image img:nth-child(2) {
  transform: translate(2vw, 0px);
}

.round-image img:nth-child(3) {
  transform: translate(4vw, 0px);
}

.button-partners
{
    padding: 1vh 1vw 1vh 1vw ;
    background-color: white;
    border:none;
    align-items: center;
    display: flex;
    gap: 0.5vw;
}




.button-top-array
{
    display: flex;
    
    justify-content: space-between;
}

.button-top-array>*
{
    display: flex;
    gap: 1vw;
}



.array
{
    display:  block;
    overflow-x: auto;
    white-space: nowrap;
    
}

.blassa
{
    display: flex;
    gap:1vw;
    align-items: center;
}

td ,th{
    background-color: white;
    padding:2vh 1.5vw;

}

.table-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

.tier1
{
    background-color:aquamarine;
    padding: 0.5vh 1vw;
    border: none;
    border-radius: 25px;
}

.tier2
{
    background-color:rgb(127, 157, 255);
    padding: 0.5vh 1vw;
    border: none;
    border-radius: 25px;
}
.tier3
{
    background-color:rgb(255, 204, 127);
    padding: 0.5vh 1vw;
    border: none;
    border-radius: 25px;
}



@media (max-width:480px){
    
    body
    {
        background-color: #ca0707;
        padding: 0;
        position: relative;
    }

    .sidebar
    {
        z-index: 9999;
        position: absolute;
        left: -110%;
        background-color: #ca0707;
        height: 100vh;
        /* display: none; */
    }

    


    .partners
    {
        width: 100%;
    }

}